body {
margin-top: -25px;
}
.content-wrapper {
margin-top:-20px;
}
.test {
color: #ffff;
}

div.message-alert {
margin-bottom: 5px;
padding-bottom: 5px;
}
.messages-wrapper{
overflow-y:scroll;
height:400px;
margin-bottom: 10px;
}
.avatar {
width: 35px;}
.message-content {
word-wrap: break-word;
}

.view-fade {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.view-fade.ng-enter,
.view-fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.view-fade.ng-enter {
    opacity: 0;
}
.view-fade.ng-enter-active {
    opacity: 1;
}
.view-fade.ng-leave {
    opacity: 1;
}
.view-fade.ng-leave-active {
    opacity: 0;
}
.message-alert.ng-enter {
    opacity: 0;
    transition: all .5s ease;
}
.message-alert.ng-enter-active {
    opacity: 1;
}
.checkbox.first {
margin-top:0px;
}
.message-alert .small {
font-size: 10px;
color: #B1B1B1;
}
.conversation-header {
margin-bottom:4px;
margin-top:-10px;
color: #333;
}
.conversation-title {
    line-height: 20px;
    font-weight: 600;
}
input.edit-message-input.editable-input.form-control {
width: 130px;
}
span.editable-click {
    color: blue;
    border-bottom: none;
}
span.editable-click:hover {
}
.conversation-header .popover-content {
width: 290px;
}